html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	min-width: 320px;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5; 
}

#black_bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

#black_bar a {
	color: white;
}

.fixed_container {
	max-width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;
}

#header {
	height: 100px;
	min-width: 320px;
}

#menu {
	display: none;
}

#logo {
	position: absolute;
	top: 40px;
}

#alt_logo {}

#weather {
	position: absolute;
	top: 49px;
	right: 367px;
	background-image: url('img/icon_weather.png');
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-left: 40px;
	height: 23px;
	color: #91919f;
}

#search {
	height: 46px;
	width: 320px;
	background-color: #f3f3f3;
	background-image: url('img/search.png');
	background-repeat: no-repeat;
	background-position: 94% 50%;
	border: 0;
	border-radius: 30px;
}

#menu_container {
	height: 70px;
}

#nav_menu {
	width: min-content;
	margin-right: 20px;
	margin-top: 20px;
	float: left;
}

#slash {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

#column_left {
	background-color: #ffff;
	width: 250px;
	float: left;
}

	.news_item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news_item_text {
		margin-bottom: 20px;
	}

	.news_item_props {
		font-size: 12px;
		font-weight: 400;
		position: relative;
	}

		.news_item_props a {
			color: #91919f;
		}

		.news_item_time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url(img/icon-time.png);
			background-repeat: no-repeat;
		}

		.news_comments_count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url(img/icon-comments.png);
			background-repeat: no-repeat;
		}

#all_news {
	color: #448ccb;
	background-color: #ffff;
	border: 1px solid #448ccb;
	border-radius: 30px;
	height: 45px; 
	width: 177px;
	margin-left: 35px;
}

#column_center {
	width: 420px;
	margin-left: 20px;
	float: left;
}

.general_item {
	margin-bottom: 20px;
}

#castle {
	width: 420px;
}

#navalnuy_news,
#gamno_news,
#woman_news,
#footballist_news {
	height: 230px;
	width: 200px;
	margin-bottom: 20px;
}

	#navalnuy_news p {
		font-size: 14px;
		font-weight: bold;
		margin: 9px 0 14px 0;
	}

	#gamno_news p {
		font-size: 14px;
		font-weight: bold;
		margin: 9px 0 14px 0;
	}

	#woman_news p {
		font-size: 14px;
		font-weight: bold;
		margin: 9px 0 14px 0;
	}

	#footballist_news p {
		font-size: 14px;
		font-weight: bold;
		margin: 9px 0 14px 0;
	}

#navalnuy,
#woman,
#footballist {
	height: 140px;
	width: 200px;
}	

#gamno {
	height: 123px;
	width: 200px;
}

#navalnuy_news,
#woman_news {
	float: left;
}

#gamno_news,
#footballist_news {
	float: right;
}

	.central_news_item_time {
		position: absolute;
		top: 0;
		left: 80px;
		padding-left: 15px;
		background-image: url(img/icon-time.png);
		background-repeat: no-repeat;
	}

	.central_news_comments_count {
		position: absolute;
		top: 0;
		left: 145px;
		padding-left: 15px;
		background-image: url(img/icon-comments.png);
		background-repeat: no-repeat;
	}

#central_container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

#central_container .fixed_container {
	overflow-y: hidden; 
}

#column_right {
	width: 250px;
	float: right;
}

#column_right img {
	margin-bottom: 20px;
}

#special_news {
	width: 392px;
	float: right;
	background-color: #ffff;
	margin-bottom: 60px;
	padding: 0;
}

#china {
	float: left;
	width: 568px;
}

#special_news .news_item_text {
	font-weight: bold;
}

#footer {
	height: 312px;
	background-color: #00122f;
	color: #ffff;
	border-bottom: 1px solid #26354e;
}

#footer_column_left {
	background-color: #00122f;
	width: 250px;
	float: left;
	padding-top: 39px;
}

#wraper {
	position: absolute;
	top: 40px;
	left: 137px;
	height: 100px;
	width: min-content;
}

#footer_column_center {
	width: 420px;
	margin-left: 20px;
	float: left;
	padding-top: 57px;
	padding-left: 165px;
}

#wrap {
	position: absolute;
	left: 380px;
	width: 164px;
}

	#wrap div {
		padding-top: 18px;
		width: min-content;
	}

#footer_column_right {
	width: 250px;
	float: right;
	padding-bottom: 30px;
}

#facebook,
#twitter,
#instagram {
	padding-bottom: 40px;
	margin-left: 20px;
}

#footer_menu {
	background-color: #00122f;
	padding-top: 18px;
}

#tel {
	background-image: url('img/tel.png');
	background-repeat: no-repeat;
	padding-left: 40px;
}

#mail {
	position: absolute;
	top: 200px;
	right: 25px;
	background-image: url('img/mail.png');
	background-repeat: no-repeat;
	padding-left: 40px;
}

#copyright {
	font-size: 14px;
	color: #91919f;
	text-align: center;
	padding: 15px 0;
	background-color: #00122f;
}


@media (max-width: 540px) {
	#datetime {
		display: none;
	}
}

@media (max-width: 400px) {
	#black_bar {
		font-size: 14px;
	}
}

@media (max-width: 360px) {
	#black_bar {
		font-size: 12px;
	}

	#header {
		height: 50px;
	}

	#header .fixed_container {
		padding: 0;
	}

	#menu {
		display: inline;
		margin-top: 18px;
		margin-left: 25px;
		margin-right: 31px;
	}

	#logo {
		display: none;
	}

	#alt_logo {
		display: inline;
		margin-right: 49px;
	}

	#menu_container {
		display: none;
	}

	#search {
		width: 30px;
		background-color: #ffff;
		margin-right: 31px;
	}

	#weather {
		display: none;
	}
}

@media (min-width: 361px) {
	#alt_logo {
		display: none;

	}

	#search {
		position: absolute;
		right: 0;
		top: 40px;
	}
}
